body{
	font-family: 'Roboto', sans serif;
}

#headerNav a{
	padding-bottom: .2em;
	margin-right: .7em;
	color: gray;
	font-size: 1em;
	text-decoration: none;
}

#headerImage{
  padding: 30px;
  margin-bottom: 30px;
  margin-left: 8px;
  height: 400px;
  width: 94%;
}

.jumbotron{
  padding: 30px;
  margin-bottom: 30px;
  height: 200px;
  text-align: center;
}

.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  float:left;
}

.col-md-4{
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  width: 24%;
  float:left;
}

.col-md-4 img{
	height: 100%;
	width: 100%;
}

.col-md-4:hover{
	opacity: .7;
	cursor: pointer;
}

#ausImg{
    height:252px;
    width: 100%;
}

.containerText{
  padding-left: 30px;
  padding-right: 30px;
}

.containerImg{
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.prettyImage{
  padding-left: 2px;
  padding-right: 2px;
  height: 300px;
  width: 32%;
  display: inline-block;
}
