body{
	font-family: helvetica, sans serif;
}

#trafficLight {
	height: 700px;
	width: 300px;
	background-color: black;
	float: left;
	margin-right: 20px;
	border-radius: 50px;
}

#trafficButtons {
	height: 625px;
	width: 300px;
	background-color: white;
	float: left;
}

.light {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-left: 50px;
	margin-top: 20px;
	background-color: black;
	border: 2px solid white;
}

.button {
	font-size: 30px;
	color: black;
	text-align: center; 
  	padding: 20px;
  	background-color: gray;
  	border: 2px solid gray;
  	border-radius: 25px;
  	cursor: pointer;
}

.button:hover {
	background-color: white;
}
